* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.backgrounApp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
        url(img/gatos.jpg);
    background-position: center;
    background-size: contain;
    min-height: 100vh;
    width: 100%;
}

.notificationAlert,
.notificationAlertOk {
    background-color: #e79fae86;
    color: #918b8b;
    border: none;
    margin-bottom: 8px;
    padding: 12px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: .9em;
    font-weight: 600;
    text-align: center;
}

.notificationAlertOk {
    background-color: #c0f1ea;
}

/**login - singUp - reset**/
.heroLoginSingUpReset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bodyLoginSingUpReset {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 18em;
}

.formLoginSingUpReset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fieldLoginSingUpReset {
    width: 100%;
    margin-bottom: 1em;
}

.inputLoginSingUpReset {
    width: 100%;
    padding: 1em .5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    cursor: pointer;
}

.inputLoginSingUpReset::placeholder {
    color: #ccc;
}

.controlLoginSingUpReset {
    position: relative;
}

.iconLeft {
    position: absolute;
    top: 1em;
    right: 1em;
    color: rgb(196, 193, 193);
    cursor: pointer;
}

.buttonLoginSingUpReset {
    background-color: #3ec487;
    color: #fff;
    border: none;
    margin-bottom: 8px;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonLoginSingUpReset:hover {
    background-color: #68c99d;
}

.buttonLoginSingUpReset:focus {
    outline: none;
}

.buttonLoginGoogle {
    background-color: #f03a5f;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonLoginGoogle:hover {
    background-color: #f56c87;
}

.buttonLoginGoogle:focus {
    outline: none;
}

.containerLinkLogin,
.containerLinkReturn,
.containerLinkSingUp {
    color: rgb(105, 105, 105);
    line-height: 1.5em;
}

.linkLoginSingUp a,
.linkReturn a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(116, 107, 252);
    font-size: 1em;
}


.linkLoginresetPassword a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(116, 107, 252);
    font-size: 1em;
}


/*navbar*/
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c5c5c;
    color: #fff;
}


.imgLogo {
    width: 4em;
    height: auto;
    margin-left: 1em;
    display: flex;
    align-items: center;
}

.menuList,
.menuListUser {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 20em;
    margin-right: 1em;
    list-style: none;
}

.menuListUser {
    justify-content: space-evenly;
}

.menuListButon {
    text-decoration: none;
}

.buttonSingUpMenu,
.buttonCreateRoom {
    background-color: #3ec487;
    color: #fff;
    border: none;
    margin-right: 1em;
    padding: 9px 20px;
    border-radius: 5px;
    font-size: .9em;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.buttonSingUpMenu:hover {
    background-color: #68c99d;
}

.buttonCreateRoom:hover {
    background-color: #68c99d;
}

.nameUser {
    font-size: 1.1em;
    font-weight: 600;
}

.photoUser,
.imgMessage {
    width: 3em;
    height: 3em;
    clip-path: circle(50% at 50% 50%);
    margin-left: 1em;
}

/*home*/

.titleHome {
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.contentListHome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em 1em;
    gap: 1em;
    padding-bottom: 5em;
    margin: 0;
}

/*ListRoom*/

.containerCard {
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 399px;
}

.containerCard a {
    text-decoration: none;
}

.imgListRoom {
    width: 15em;
}

.contentCard {
    padding: 1em;
}

.cardTitle {
    font-weight: 600;
    color: #5c5c5c;
    padding-bottom: .7em;
    line-height: 1.3em;

}

.adminCardRoom::first-letter {
    text-transform: uppercase;
}

.titleRoom {
    text-transform: uppercase;
    font-size: 1.2em;
}

.adminCardRoom {
    font-size: .9em;
    font-style: italic;
}

.cardDescription {
    font-size: .9em;
    color: #5c5c5c;
    margin-bottom: .5em;
}

.containerButtonRoom {
    margin: .7em;
    text-align: end;
}

.cardButton {
    background-color: #3ec487;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cardButton:hover {
    background-color: #68c99d;
}

/*createRoom y editRoom*/

.heroCreateRoom,
.heroEditRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    height: 100vh;
}


.bodyCreateRoom,
.bodyEditRoom {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 18em;
}

.titleCreate,
.titleEdit {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.formCreateRoom,
.formEditRoom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fieldCreateRoom,
.fieldEditRoom {
    width: 100%;
    margin-bottom: 1em;
}

.inputCreateRoom,
.inputEditRoom {
    width: 100%;
    padding: 1em .5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    cursor: pointer;
}

.inputCreateRoom::placeholder {
    color: #ccc;
}

.inputEditRoom::placeholder {
    color: #ccc;
}


.controlCreateRoom,
.controlEditRoom {
    position: relative;
}

.labelCreateRoom,
.labelEditRoom {
    color: #5c5c5c;
    font-size: 1em;
    font-weight: 600;
}

.buttonRoom,
.buttonEditUpdate {
    background-color: #3ec487;
    color: #fff;
    border: none;
    margin-bottom: 8px;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonRoom:hover {
    background-color: #68c99d;
}

.buttonEditUpdate:hover {
    background-color: #68c99d;
}

.buttonEditDelete {
    background-color: #f03a5f;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonEditDelete:hover {
    background-color: #f56c87;
}

.containerLinkCreateRoom {
    color: rgb(105, 105, 105);
    line-height: 1.5em;
}

.linkCreateRoom a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(116, 107, 252);
    font-size: 1em;
}


/*viewRoom*/

.roomName {
    width: 100%;
    background-color: #00d1b2;
    text-align: center;
    color: #fff;
    padding: .5em;
    font-size: .9em;
    font-weight: 600;
    text-transform: uppercase;
}

.messageContainer {
    margin-bottom: 4.5em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(img/fondo2.jpg);
    background-position: center;
    background-size: contain;
    min-height: calc(100vh - 4.5em);
}

.contentUserMessage {
    padding: 1em 0;
    padding-bottom: 3em;
}

.containerPhotoUser,
.containerPhotoUserOther {
    display: flex;
    padding: .5rem;
    align-self: flex-end;
    border-radius: 5px;
}

.containerPhotoUserOther {
    align-self: flex-start;
}


.userNameMessageOther,
.userNameMessage {
    padding: 1em;
    font-weight: 600;
    color: #5c5c5c;
}


.imgMessage,
.imgMessageOther {
    object-fit: cover;
    width: 3.5em;
    height: 3.5em;
    clip-path: circle(50% at 50% 50%);
    margin: 0;
    margin-right: .5em;
    text-align: center;
}

.imgMessage {
    margin-left: .5em;
}


.messages {
    display: flex;
    flex-direction: column;
}

.message,
.messageOther {
    padding: .5em 1em;
    align-self: flex-end;
    background-color: #3ec487;
    color: #fff;
    border-radius: .5rem;
    text-align: end;
    border-top-right-radius: 0;
    width: 100%;
    overflow-wrap: anywhere;
}

.messageOther {
    background-color: #fff;
    color: #6e6b6b;
    align-self: flex-start;
    border-top-left-radius: 0;
    overflow-wrap: anywhere;
}


.send {
    background-color: #5c5c5c;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.formMessage {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controlTextarea {
    width: 80%;
}

.textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    padding: .5em;
    width: 100%;
    margin-bottom: .5em;
    height: 2.1em;
}

.textarea::placeholder {
    color: #ccc;
}

.textarea:focus {
    outline: none;
}

.controlButtonViewRoom {
    margin-bottom: .8em;
    margin-left: .5em;
}

.buttonViewRoom {
    padding: .5em 1.5em;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #3ec487;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.buttonViewRoom:hover {
    background-color: #68c99d;
}


/*button loading */
:root {
    --effect: hover 1s linear infinite;
}

.loading {
    display: inline-block;
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
}

.loading:nth-child(1) {
    animation: var(--effect);
}

.loading:nth-child(2) {
    animation: var(--effect) .125s;
}

.loading:nth-child(3) {
    animation: var(--effect) .25s;
}

.loading:nth-child(4) {
    animation: var(--effect) .375s;
}

.loading:nth-child(5) {
    animation: var(--effect) .5s;
}

.loading:nth-child(6) {
    animation: var(--effect) .675s;
}

.loading:nth-child(7) {
    animation: var(--effect) .75s;
}

@keyframes hover {
    0% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 2px rgb(150, 236, 218);
    }

    20% {
        transform: scale(1);
        color: pink;
        -webkit-text-stroke: 3px #fff;
    }

    50% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 2px rgb(150, 236, 218);
    }


}


@keyframes grow {
    from {
        transform: scale(0, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes move {
    from {
        transform: translateX(0px)
    }

    to {
        transform: translateX(45px)
    }
}

/*media query*/

@media screen and (max-width: 600px) {

    /*navbar*/
    .menu {
        padding: .5em 0;
    }

    .imgLogo {
        width: 4em;
    }

    .buttonSingUpMenu,
    .buttonCreateRoom {
        padding: 5px 15px;
        font-size: .8em;
    }

    .buttonSingUpMenu:hover {
        background-color: #68c99d;
        scale: 1.1;
    }

    .buttonCreateRoom:hover {
        background-color: #68c99d;
        scale: 1.1;
    }

    .menuList {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        margin: 0;
    }

    .menuListUser {
        display: none;
    }

    .menuListUser li {
        font-size: .8em;
    }

    /*home*/
    .titleHome {
        font-size: 1.5em;
    }

}